@media (max-width: 700px) {
  html,
  body {
    overflow: auto;
    height: 100%;
  }
  #__next {
    margin-bottom: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
  }
  .card {
    &__container {
      grid-template-columns: auto;
      justify-items: center;
    }
  }
}
