$baseFontSize: 16px;
$fontSize1600: 24px;
$fontSize1900: 28px;
$fontSize2400: 32px;
$activeYearBgColor: #7aba02;
$yearBgColor: #c6e09e;
$sideBarListItemPadding: 0.5rem;
$sideBarListPadding: 0.25rem;
$headerSize: 50px;
$footerSize: 30px;
